{% extends 'index.html' %}

        {% block resume %}

            <div class="col-sm-6 col-sm-offset-3">
                <div class="site-wrapper">
                    <div class="site-wrapper-inner">
                        <div class="cover-container">
                            <div class="inner cover">
                                <h1 class="cover-heading .text-danger">Ошибка</h1>
                                <p class="lead .text-danger">{{ person }}</p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        {% endblock %}